body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
	display: flex;
	justify-content: center;
	color: #36454f;
  font-size: 2.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #696969;
}

a:hover, a:link, a:active {
  color: #696969;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

ul {
  padding: 0;
}

.currencies {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.currencies li {
  margin: 1.5px;
  font-weight: bold;
  cursor: pointer;
}

.btnSpace {
  margin: 2px;
}

.instructions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-nonfluid {
  width: 100%;
  margin: 0 auto;
  
}

.current-results {
  width: 50%;
  margin: 0 auto;
}

.euro {
  font-size: 1.3rem;
}

.compare-currency {
  font-size: 1.3rem;
}